<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443223925117-4hk2p9d4uinettqnljfskav6l6ij09bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443223925117-4hk2p9d4uinettqnljfskav6l6ij09bu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443223925117-ev0a54v8as9q3134mc23joddh7mm9tht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKE_nm1iXEJ19_K_3LbdEPwDId5HkMsnA</string>
	<key>GCM_SENDER_ID</key>
	<string>443223925117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jdu.carrot.jduCarrot</string>
	<key>PROJECT_ID</key>
	<string>jducarrot</string>
	<key>STORAGE_BUCKET</key>
	<string>jducarrot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443223925117:ios:f0f90ae83361fadfae2c14</string>
</dict>
</plist>